/* Custom CSS for Prediksi page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 40px;
  }
  
  p {
    font-weight: bold;
    font-size: 18px;
  }
  
  img {
    display: block;
    max-width: 100%;
    margin-top: 20px;
  }
  